@charset "UTF-8";

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: var(--lilas);
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    background-color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.623);
    width: 300px;
    height: 550px;

    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.container .div-img {
    height: 40%;
    background: url(../image/predio.jpg);
    border-radius: 20px 20px 0 0 ;
}

.div-img img{
    display: none;
}

form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h1 {
    padding: 5px;
}

form p {
    padding: 5px;
}

fieldset {
    background-color: var(--lilas);
    width: 95%;
    height: 40px;
    margin-bottom: 5px;
    border: none;
    border-radius: 10px;
    border: solid 4px var(--lilas);
    display: flex;
    flex-direction: row;
    align-items: center;
}

fieldset .icon {
    color: white;
    padding: 5px;
}

input {
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

button {
    background-color: var(--verde);
    color: white;
    border: solid 3px var(--verde);
    width: 98%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #2b5f5d;
    color: white;
}

.btn-esqueci {
    background-color: white;
    color: var(--verde);
}