@font-face {
    font-family: idroid;
    src: url(./pacote-projeto-d010/fontes/idroid.otf);
}
@font-face {
    font-family: BebasNeue-book;
    src: url(./pacote-projeto-d010/fontes/BebasNeueBook.otf);
}
body {
    background-color: rgba(139, 255, 177, 0.63);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0px;
}

header {
    background-image: linear-gradient(to bottom, rgba(45, 226, 106, 0.747), rgba(31, 30, 30, 0.822));
    color: white;
    text-shadow: 2px 3px 6px rgba(5, 5, 5, 0.884);
    
}

#title {
    font-family: BebasNeue-book;
    font-size: 26px;
    text-align: center;
    padding: 15px 0px 0px 0px;
}

#subTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#nav {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
}

.navElement {
    padding: 15px
}

main {
    background-color: white;
    margin: 0px 150px 20px;
    padding: 20px;
}

.h1green {
    color: rgba(5, 104, 5, 0.863);
    font-family: idroid;
}

.h2green {
    color: rgba(5, 104, 5, 0.863);
    background-image: linear-gradient(to right, rgba(139, 255, 178, 0.363), white);
    font-family: idroid;
    padding: 1px 1px 1px 10px;    
}

#container {
    background-color: rgba(139, 255, 178, 0.363);
    border-radius: 10px;
    padding: 0px 10px;
}

#h3green {
    color: white;
    background-color:rgba(20, 173, 66, 0.616);
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

#container-dentro {
    display: flex;
}

#list2 {
    padding-left: 200px;
}

.li {
    color: black;
    list-style-type: none;
}

img {
    margin: auto;
    display: block;
}

#video {
    text-align: center;
    padding: 27px;
    margin: 0px;
    background-color:  rgb(8, 71, 29);
}

footer {
    background-color: rgb(8, 71, 29);
    color: white;
    text-align: center;
}

.destaque {

    color: green;
    font-weight: bold;
    text-decoration: none;
}