@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(166, 116, 212);
}

header {
    background-color: rgb(127, 56, 194);

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}

header img {
    width: 100px;
    padding: 10px;
    align-self: center;
}

header ul li {
    background-color: rgb(69, 19, 116);
    color: white;
    padding: 10px;
    margin: 0 30px 10px;
    border-radius: 5px;
    list-style: none;
}

main article{
    background-color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
}

/*Media Queries*/

@media screen and (min-width: 610px) and (max-width: 2000px) {
    header {
        background: red;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    header ul {
        display: flex;
        align-self: flex-end;
    }

    header ul li {
        margin: 10px;
    }

    header img {
        justify-content: flex-start;
        align-self: flex-start;
    }
}